my
.refresh
__pycache__
.ipynb_checkpoints/
.vscode/
__res/
perf.data
perf.data.old
*.swp
*.ipynb
*.pdf
*.zip
*.tgz
# test.py
extern/mkl/mkldnn_lnx*/*
build/
venv/
!*.src.md
!README.md
!README.cn.md
!CHANGELOG.md
python/jittor.egg-info
dist/
!doc/source/*
core
__data__
data/
GraphMixer/DATA/
./data
pip_cache/
adj_t.pkl
adj_t1.pkl
deg_inv.pkl
deg.pkl
jittor_geometric/io/planetoid.py
